{{ template "header.html" . }}

<div id="post">
  <h2> {{ .Title }} </h2>
  <div class="meta">Date: {{ .Date.Format "Mon, Jan 2, 2006" }}</div>

  {{ .Content }}

  <br clear="both"/>
  <div class="archive_link">
    Archive: <a href="{{ .Params.BaseUrl }}/{{ .Category }}/">{{ .Category }}</a>
  </div>
</div>


<div class="prev">Previous: <a href="{{ .Params.BaseUrl }}/{{ .PrevUrl }}">{{ .PrevTitle }}</a></div>
<div class="next">Next: <a href="{{ .Params.BaseUrl }}/{{ .NextUrl }}">{{ .NextTitle }}</a></div>


<p><hr/></p>

<p>Recent Posts</p>
<ul>
  {{ range .Recent }}
    <li> <a href="{{ .Params.BaseUrl }}/{{ .Url }}">{{.Title}}</a></li>
  {{ end }}
</ul>


{{ template "footer.html" }}
