
header {
	background-color: $header-bgcolor;
	color: $header-fgcolor;
	padding: 1.0rem;

	h3 {
		font-size: 2.0rem;
		margin: 0.2222rem;
	}

	a, a:visited {
		color: currentColor;
		text-decoration: none;
	}
}

aside {

	background-color: $aside-bgcolor;
	color: $aside-fgcolor;
	font-family: $system;

	nav {
		padding: 1.0rem;

		a, a:visited {
			color: currentColor;
		}

		a:hover {
			color: $aside-hover;
		}

		ul {
			padding-left: 1.0rem;
		}
	}
}

main {
	background: $bgcolor;
}

footer {
	font-family: $system;
	padding: 2.0rem 1.0rem 0.5rem 1.0rem;

	span {
		margin: 0  8px;
	}

	span {
		margin: 0  8px;
	}
}

span.sidenote {
	border: 1px solid #CCCCCC;
	display: block;
	float:right;
	font-size: 0.83333rem;
	margin: 8px 0 8px 8px;
	max-width: 9rem;
	padding: 8px;
}

#sidebar-toggle button {
	width: 36px;
	height: 36px;
	background: url(menu-close.svg) no-repeat center center #FFFFFF;
	background-size: contain;
	border: none;
	outline: inherit;
	border-radius: 18px;
}

#sidebar-toggle button.open {
	width: 36px;
	height: 36px;
	background: url(menu-open.svg) no-repeat center center #FFFFFF;
	background-size: contain;
}

