// Layouts

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header {
	flex: 1 1 100%;
	order: 1;
}

aside {
	flex: 1 1 100%;
	order: 3;
}

main {
	max-width: 45rem;
	min-width: 16rem;
	min-height: 100vh;
	flex: 3 0 75%;
	order: 2;
}


footer {
	flex: 1 0 100%;
	order: 4;
}

/* Large screens */
@media all and (min-width: 42rem) {

	aside {
		order: 2;
		flex: 1 2 25%;
		max-width: 16rem;
	}

	main {
		min-width: 32rem;
		flex: 2 0 75%;
		order: 3;
	}

	footer  {
		flex: 1 0 100%;
		order: 4;
	}
}

