// Layouts

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header {
	flex: 1 1 100%;
}

aside {
	display: block;
	flex: 1 2 25%;
	max-width: 15rem;
	min-width: 9rem;
}

main {
	max-width: 45rem;
	min-width: 30rem;
	min-height: 100vh;
	flex: 2 0 75%;
}

footer  {
	flex: 1 0 100%;
}

#sidebar-toggle {
	display: none;
}

/* Large Screen */
@media screen and (min-width: 40rem) {
	main {
		padding-bottom: 5.0rem;
		padding-left: 2.6667rem;
		padding-right: 2.6667rem;
		padding-top: 1.7778rem;
	}
}

/* Mobile screens */
@media screen and (max-width: 40rem) {

	aside {
		display: none;
		position: absolute;
		top: 110px;
		left: -16rem;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}

	aside.show {
		display: block;
		width: 100%;
		left: 0;
		transition: width 1s;
		z-index: 25; /* above asciinema */
		visibility: visible;
		opacity: 1;
	}

	#sidebar-toggle {
		display: block;
		position: absolute;
		left: 16px;
		z-index: 26; /* above aside */
	}

	main {
		min-width: 16rem;
		min-height: 100vh;
		flex: 3 0 75%;
		padding: 1.7778rem;
	}

}

