
// Fonts
$main: 'Droid Serif', Georgia, serif;
$mono: 'Droid Sans Mono', Consolas, Menlo, Monaco, monospace;
$system: -apple-system,BlinkMacSystemFont,"Segoe UI","Droid Sans",Roboto,Cantarell,"Helvetica Neue",sans-serif;

// Colors
$bgcolor: #FFFFFF;
$text: #333333;

$link: #2542D1; 
$hover: #5B21D1;

$aside-fgcolor: #FFFFFF;
$aside-bgcolor: #232946;
$aside-hover: #eebbc3;

$header-bgcolor: #eebbc3;
$header-fgcolor: #232946;

@import 'base';
@import 'layout';
@import 'elements';
