<DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title> {{ .Title }} </title>
  <link rel="stylesheet" media="screen" href="{{ .Params.BaseUrl }}/style.css" >
  <link href='http://fonts.googleapis.com/css?family=Exo:400,300' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="canvas" class="clearfix">

  <header>
    <h3>hastie</h3>
    <h6>static site generator</h6>

    <p>Download at <a href="http://github.com/mkaz/hastie">github</a></p>


    <p>Created by <a href="http://twitter.com/mkaz">@mkaz</a></p>

  </header>

  <div id="container">
  
